.nav{
    position: relative;
    list-style-type: none;
    margin: -100;
    padding: 10;
    overflow: hidden;
    background-color:white;


}
.header {
    padding: 10px 16px;
    background: none;
    color: none;
}

.tab {
    float: right;

    font-family:'Barlow Condensed';

}

.tab a {
    display: block; 
    color: black;
    padding: 50px;
    text-decoration: none;
    font-size: 40px;
}
.tab a:hover{
    color:rgb(79, 134, 244);
    }


.info{
    font-family:"Barlow Condensed";  
    margin-top:100px;
    /* padding-top: 200px; */
    /* padding-left: 200px;  */
    /* padding-right: 200px;    */
}
  

.tab1 {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;

}


.tab1 button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
}

.info1{
    font-size: 20px;
}

.info2{
    font-size: 10px;
}

.info3{
    font-family:"Barlow Condensed";  
    padding-top: 200px;
    padding-left: 200px; 
    padding-right: 200px;   
}
.info4{
   font-size: 40px;
}



.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
}


.tab1 button:hover {
background-color: #ddd;
}


* {box-sizing: border-box;}
    body {font-family: "Lato", sans-serif;}


.tab1 button.active {
    background-color: #ccc;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* leaderboard section */
