<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="header" id="myHeader">

            <ul class="nav">
                <a href="index.html"><img style=" width: 330px; height:150px; padding-left: -1000;" src="img/logo.png"  alt="Italian Trulli"></a>
                <li class="tab"><b><a href="link.html">LINKS</a></b></li>
                <li class="tab"><b><a href="submit.html">SUBMIT</a></b></li>
                <li class="tab"><b><a href="dataset.html">DATASETS</a></b></li>
            </ul>
        </div>

        {{ content }}

    </body>
    <header>
      <img src="img/leaderboard_logo.png" alt="pic_of_leaderboard" width="100" height="100">
      <h1>Current Leaderboard</h1>
        <div class="selection">
          <select name="dataset" id="dataset">
              <option value="All_Datasets">All Datasets</option>
              <option value="dataset1">Dataset 1</option>
              <option value="dataset2">Dataset 2</option>
              <option value="dataset3">Dataset 3</option>
          </select>
        </div>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th> </th>
                    <th>Dataset 1</th>
                    <th>Dataset 2</th>
                    <th>Dataset 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Team A</td>
                    <td>0.98</td>
                    <td>0.77</td>
                    <td>0.66</td>
                </tr>
                <tr>
                    <td>Team B</td>
                    <td>0.98</td>
                    <td>0.77</td>
                    <td>0.66</td>
                </tr>
                <tr>
                    <td>Team C</td>
                    <td>0.98</td>
                    <td>0.77</td>
                    <td>0.66</td>
                </tr>
            </tbody>
        </table>
    </main>
</html>
